<hr />
<div class="sharer">
  <p>Share this on:</p>
  <span class="sharer">
    <a class="sharer-fb" href="https://www.facebook.com/sharer/sharer.php?app_id={{ site.fb_app_id }}&u={{ page.url | absolute_url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fab fa-facebook fa-fw"></i></a>
    <a class="sharer-tw" href="https://twitter.com/intent/tweet?url={{ page.url | absolute_url }}&via={{ site.twitter_username }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fab fa-twitter fa-fw"></i></a>
  </span>
</div>
